@use './variables.scss';

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$bg-color;
    border-radius: variables.$border-radius;
    padding: 20px;

    .description {
        text-align: center;
    }
}