@use './variables.scss';

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: variables.$bg-color;
    border-radius: variables.$border-radius;
    padding: 20px;

    .card-supr {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .card-btn-supr {
            color: variables.$text-color;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    .card-name {
        text-align: center;
        margin: 0;
    }

    .card-description {
        text-align: center;
    }
}