@use './variables.scss';

.btn-new-column {
    border-radius: variables.$btn;
    background-color: transparent;
    border: 2px solid variables.$solid-color;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;

    &:hover {
        background-color: variables.$solid-color;
        color: white;
    }
}

.column-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .btn-column {
        background-color: transparent;
    }

    img {
        width: 30px;
    }
}

.column-btn-name {
    display: flex;
    flex-direction: row;
}

.btn-card {
    background-color: transparent;

    img {
        width: 30px;
    }
}

.btn-modal {
    background-color: white;
    border-radius: variables.$border-radius;
}

.btn {
    border: none;
    cursor: pointer;
}

.container-column {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    background-color: variables.$interactive-color;
    border-radius: variables.$border-radius;
    min-height: 500px;
    width: 200px;
    padding: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}